.blue--background{
    -fx-background-color: #80A6FF;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.red--background{
    -fx-background-color: #800000;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}

.green--background{
    -fx-background-color: #008000;
    -fx-border-width: 1px;
    -fx-border-color: #000;
}